# Arquivos de log e relatórios
logs/
allure-results/
cypress/reports/
cypress/screenshots/
cypress/videos/
performance-report/
UI/cypress/reports/
report.json
report.html

# Dependências
node_modules/

# Arquivos de ambiente
.env
Mobile/.env
UI/.env

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
*.sln