# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json 
lerna-debug.log*

# Cypress
cypress/videos/
cypress/screenshots/
cypress.env.json

# Appium 
*.log
build/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln