# Dependências
node_modules/

# Arquivos de Log e Relatórios
logs/
allure-results/
performance-report/
UI/cypress/reports/
UI/cypress/screenshots/
UI/cypress/videos/
report.json
report.html
mochawesome-report/

# Arquivos de ambiente local (MUITO IMPORTANTE)
.env
Mobile/.env
UI/.env

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/